.App {
  text-align: center;
}

/* 항상 라이트 테마 적용 */
:root {
  --background-color: #ffffff;
  --text-color: #000000;
}

html, body {
  background-color: var(--background-color);
  color: var(--text-color);
}