.App {
  text-align: center;
}

/* 항상 라이트 테마 적용 */
:root {
  --background-color: #ffffff;
  --text-color: #000000;
}

html, body {
  background-color: var(--background-color);
  color: var(--text-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #ffffff; /* 다크 모드에서도 흰색 유지 */
    --text-color: #000000;       /* 텍스트도 동일하게 유지 */
  }
}