.permissonLogin{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top:10px;
  gap: 10px;
  
}

.Input {
  width: 80%;
  height: 30px;
  font-size: 20px;
  font-weight: 200;
  border: 1px solid black;
  border-radius: 20px;
  text-align: center;
  
  
}
.Input:nth-child(1){
  margin-top: 20px;
}
.buttonDiv{
  width: 100vw;
}
.loginBtn1{
  width: 30%;
  height: 30px;
  border-radius: 15px;
  border: none;
  margin-top: 10px;
  margin-bottom: 10px;
  
  
}
.loginBtn1:nth-child(1){
  margin-right: 10%;
}

.alert{
  background-color: rgba(255,0,0,0.5);
  border: 5px solid yellow;
}

.ruleAddBtn a {
  text-decoration: none;
  color: black;
}