.main {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}
.title {
}
.loginBtn {
  position: absolute;
  top: 10px;
  right: 10px;
}

.permissonBtn {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 15px;
  background-color: rgba(0,0,0,0.1);
  color: #00000;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  white-space: nowrap;
}

.permissonBtn a {
  text-decoration: none;
  color: black;
}

.titleLink {
  border: none;
  color: black;
  text-decoration: none;
}

/* 메뉴 버튼 스타일 */
.menu-button {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1000;
  background-color: rgba(0,0,0,0.1);
  color: #00000;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

/* 사이드 메뉴 기본 스타일 */
.side-menu {
  position: fixed;
  top: 0;
  left: -80%;
  width: 80%;
  height: 100%;
  background-color: #ffffff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  transition: left 0.3s ease;
  z-index: 999;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: scroll;
}
/* 사이드 메뉴가 열릴 때 스타일 */
.side-menu.open {
  left: 0;
}
/* 오버레이 기본 스타일 */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
  z-index: 998;
}

/* 오버레이가 활성화될 때 스타일 */
.overlay.show {
  opacity: 1;
  visibility: visible;
}

.ladderMenuP {
  background-color: rgba(0,0,0,0.3);
  
}

.notice {
  border: 1px solid black;
  background-color: rgba(0,0,0,0.2);
}

.help{
  border: 1px solid black;
}
.link{
  background-color: rgba(0, 0, 0, 0.3);
}
.link a{
  text-decoration: none;
  color: black;
  
}
.androidIos button {
  padding: 5px;
  margin: 10px;
  width: 100px;
  height: 30px;
}
/* CSS 추가 */
.urlLink {
  word-wrap: break-word; /* 긴 단어나 문장이 줄바꿈되도록 설정 */
  overflow-wrap: break-word; /* 최신 브라우저에서도 줄바꿈이 작동하도록 설정 */
  white-space: normal; /* 텍스트가 한 줄에 고정되지 않도록 설정 */
}