.main {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}
.title {
}
.loginBtn {
  position: absolute;
  top: 10px;
  right: 10px;
}

.loginBtn {
  text-decoration: none;
  color: black;
  border: 1px solid black;
}

.titleLink {
  border: none;
  color: black;
  text-decoration: none;
}